.desktop {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: #54a8a8;
}

.desktop-background {
  width: 100%;
  height: calc(100% - 40px);
  position: relative;
  overflow: hidden;
}

/* Desktop selection rectangle - Windows 95 style */
.desktop-selection {
  position: absolute;
  border: 2px dotted #404040;
  background: transparent;
  pointer-events: none;
  z-index: 9999;
  box-sizing: border-box;
}

