.desktop-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  padding: 8px;
  border: 2px solid transparent;
  border-radius: 2px;
  user-select: none;
  transition: none;
}

.desktop-icon:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px dashed #000;
}

.desktop-icon.dragging {
  opacity: 0.8;
  z-index: 1000;
}

.desktop-icon:active:not(.dragging) {
  background-color: rgba(255, 255, 255, 0.2);
}

.desktop-icon.selected {
  border: 1px dotted #000;
  background-color: transparent;
}

.desktop-icon.selected .desktop-icon-label {
  background-color: #000080;
  color: white;
  padding: 1px 2px;
  border: 1px dotted #fff;
}

.desktop-icon-image {
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  background-color: transparent;
  border: none;
  margin-bottom: 8px;
}

.desktop-icon-img {
  width: 64px;
  height: 64px;
  object-fit: contain;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

.desktop-icon-label {
  color: white;
  text-align: center;
  font-size: 12px;
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
  word-wrap: break-word;
  max-width: 100px;
  line-height: 1.3;
}

